
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      VIDEOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <p>FROM AGE 1-3</p>
      <iframe src="https://www.youtube.com/embed/ZmtLzRJh8n8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" onload="resizeIframe(this)"></iframe>


<p>FROM AGE 3-6</p>
<iframe  src="https://www.youtube.com/embed/dHBOLzvajRI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>FROM AGE 6-9</p>
<iframe src="https://www.youtube.com/embed/OTuph9pJWU4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>FOR AGE 9-12</p>
<iframe src="https://www.youtube.com/embed/7HUW_aukApo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</ion-content>
