<ion-header>
  <ion-toolbar>
    <ion-title>
      Alphabets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">

    <ion-card>
      <ion-card-header>
        <p><a href="#">
          A
        </a></p>

       <p>APPLE🍎</p>
      </ion-card-header>
     </ion-card>

     <ion-card>
      <ion-card-header>
        <p><a href="#">
         B
        </a></p>
        <p>BALL⚾</p>
      </ion-card-header>
     </ion-card>

     <ion-card>
      <ion-card-header>
        <p><a href="#">
         C
        </a></p>
        <p>CAT🐈</p>
      </ion-card-header>
     </ion-card>

     <ion-card>
      <ion-card-header>
        <p><a href="#">
         D
        </a></p>
        <p>DOG🐕</p>
      </ion-card-header>
     </ion-card>

     <ion-card>
      <ion-card-header>
        <p><a href="#">
         E
        </a></p>
        <p>EYE👁️</p>
      </ion-card-header>
     </ion-card>

     <ion-card>
      <ion-card-header>
        <p><a href="#">
         F
        </a></p>
        <p>FISH🐠</p>
      </ion-card-header>
     </ion-card>

  </div>

</ion-content>
